# Built artifacts
*.apk
*.ap_
*.aab

# Gradle
.gradle/
build/

# Local configuration
local.properties

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# IntelliJ / Android Studio
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
captures/
.externalNativeBuild/
.cxx/
output-metadata.json

# Python
__pycache__/

# OS files
.DS_Store
Thumbs.db

# Kotlin
*.class
.kotlin/

# Proguard
proguard/

# Log files
*.log

# Keystore files
keystore.properties
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json

# Android Profiling
*.hprof

# Generated Play Store screenshots (produced in CI)
app/src/*/play/listings/en-US/graphics/phone-screenshots/
app/src/*/play/listings/en-US/graphics/tablet-screenshots/
app/src/*/play/listings/en-US/graphics/large-tablet-screenshots/
